.header {
    position: sticky;
    top:0;
    padding: 10px 16px;
    background: black;
    color: #f1f1f1;
    font-size: 30px;
  }
  .content {
      padding: 16px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  a:link{
    font-size: 20px;
    background-color: black;
    background-size: contain;
      color: white;
      
  }
  a:visited{
      color: grey;
      background-color: black;
    background-size: contain;
      font-size: 20px;
  }
  a:hover{
      color: darkgray;
      background-color: black;
    background-size: contain;
      font-size: 20px;
  }
  p{
    padding: 16px;
    font-size: 25px;
  }
  h3{
    padding: 16px;
    font-size: 30px;
  }
  footer{
    padding: 10px 16px;
    background: black;
    color: #f1f1f1;
    font-size:20px;
  }